@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@font-face {
    font-family: Josefin Sans;
    src: url('./assets/Josefin_Sans/static/JosefinSans-Medium.ttf');
}

.signature {
    font-family: "Dancing Script", cursive;
}

body {
    font-family: 'Josefin Sans' !important;
}

.bg-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/others/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.ls-2 {
    letter-spacing: 2px;
}

.fs-12 {
    font-size: 12px;
}

.bg-attachmend {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/others/awaza.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-top: 100px;
}

.bg-attachmend-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/others/awaza.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-top: 100px;
}

.about-img-1 {
    height: 550px;
    width: 520px;
    object-fit: cover;
}

.about-img-2 {
    position: absolute;
    width: 450px;
    height: 280px;
    object-fit: cover;
    bottom: -10%;
    left: 3%;
    border: 15px solid white;
}

.w-xl-50 {
    width: 50%;
}

.w-xl-60 {
    width: 60%;
}

.w-xl-75 {
    width: 75%;
}

.w-xl-85 {
    width: 85%;
}

.w-1000 {
    width: 1000px;
}

@media screen and (max-width: 769px) {

    .w-xl-50 {
        width: 100%;
    }

    .w-xl-60 {
        width: 100%;
    }

    .w-xl-75 {
        width: 100%;
    }

    .w-xl-85 {
        width: 100%;
    }

    .w-1000 {
        width: 100%;
    }

    .about-img-1 {
        width: 100%;
        height: auto;
    }

    .about-img-2 {
        position: relative;
        width: 100% !important;
        height: auto !important;
        border: none;
        left: 0;
        border: 15px solid white;
    }

}